/* <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500,600,700&display=swap"> */

* { font-family: "Noto Sans", sans-serif;}

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

header {
  display: flex;
  /* justify-content: center; */
  padding: 20px 250px;
}

.logo {
  width: 20%;
}

.label-1{
  font-weight: bold;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0px 12px;
  text-align: left;
}

.container {
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 24px;
  width: 60%;
}

fieldset {
  display: grid;
  grid-template-columns: 175px 1fr;
  align-items: baseline;
  margin-bottom: 16px;
  border-radius: 6px;
}

input {
  margin: 4px;
  padding: 8px;
}

label {
  margin: 4px 0px;
  min-width: 100px;
  padding: 8px;
}

select {
  margin: 8px;
  padding: 8px;
}

input, textarea, select {
  background-color: #ebfffe;
  border: 1px solid #26beb7;
  border-radius: 6px;
  outline: 0px !important;
}

input[type="radio"] {
  margin: 0px 8px;
  position: relative;
  top: 2px;
}

textarea {
  margin: 8px;
  padding: 8px;
}

.submit {
  background-color: #1596cf;
  border-radius: 6px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  grid-column: 2/3;
  height: fit-content;
  letter-spacing: .1em;
  outline: 0 !important;
  padding: 12px 35px;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

/* :required { border-color: orange; } */
:focus { border-color: cyan; }
/* :optional, :valid { border-color: #08fe00 } */
/* :disabled { border-color: gray; } */
